# About
Implement clustering algorithms
1. K-Means
1. Heirarchical clustering
1. DBSCAN

## The Team
| Name| Student ID|
|------------|---------------|
|Cynthia Cai | 5625483 |
|Pratyush Kumar | 5359252|

# Imports

// add the imports to the cell below

In [20]:
import numpy as np 
import pandas as pd
import glob

# Reading the dataset


From the readme for the xyz files, we know that:

Ground truth labels:
|File range|Label|
|--|--|
|    000 - 099: |building|
|    100 - 199: |car|
|    200 - 299: |fence|
|    300 - 399: |pole|
|    400 - 499: |tree|



workflow:

iterate through the files, and collect them in a dataframe

Use [this link](https://pandas.pydata.org/docs/reference/api/pandas.concat.html#pandas.concat) for concatenating the dataframes

In [21]:
xyzPath = './scene_objects/data/*.xyz'

dataPathsList = glob.glob(xyzPath)

In [22]:
megaDF= pd.DataFrame(columns=['x','y','z', 'groundLabel'])

def df_maker(df1, df2):
    return pd.concat([df1, df2], sort=False, ignore_index=True)

labelToGive = None
for indx, path in enumerate(dataPathsList):
    # if else to determine label
    if indx>=0 and indx<100:
        labelToGive = 'building' 
    elif indx>=100 and indx<200:
        labelToGive = 'car' 
    elif indx>=200 and indx<300:
        labelToGive = 'fence' 
    elif indx>=300 and indx<400:
        labelToGive = 'pole' 
    elif indx>=400 and indx<500:
        labelToGive = 'tree' 
        

    # using pandas to read dataset and make a dataFrame
    tempDF = pd.read_csv(path, delimiter=' ', header=None, dtype=np.float64, names=['x','y','z'])
    tempDF.loc[:,'groundLabel'] = labelToGive

    # merge with megaDF
    megaDF = df_maker(megaDF, tempDF)

megaDF.head()

                 x           y          z groundLabel
0        20.070000  499.959991  17.450001    building
1        20.370001  499.160004  17.290001    building
2        18.860001  499.559998  18.129999    building
3        18.120001  499.709991  18.540001    building
4        17.360001  499.950012  19.000000    building
...            ...         ...        ...         ...
1276502  88.160004  137.250000   8.870000        tree
1276503  89.070000  136.279999   9.180000        tree
1276504  89.160004  135.559998   7.660000        tree
1276505  88.739998  137.449997   9.050000        tree
1276506  88.930000  136.839996   9.110000        tree

[1276507 rows x 4 columns]

In [23]:
# save to pickle file
megaDF.to_pickle('./scene_objects/compressedData.pkl')

# Clustering Algorithms

In [24]:
# import megaDF
megaDF = pd.read_pickle('./scene_objects/compressedData.pkl')
megaDF.head()

           x           y          z groundLabel
0  20.070000  499.959991  17.450001    building
1  20.370001  499.160004  17.290001    building
2  18.860001  499.559998  18.129999    building
3  18.120001  499.709991  18.540001    building
4  17.360001  499.950012  19.000000    building

## K-Means clustering

In [13]:
def k_means():
    """
    summary: this function is not yet ready
    """
    pass

In [14]:
k_means?

Signature: k_means()
Docstring: summary: this function is not yet ready
File:      /mnt/e/TU_Delft/yr_2/q6/GEO5017/Assignments/Asg1_Clustering/<ipython-input-13-9b6376553bdf>
Type:      function

## Heirarchical clustering

## DBSCAN